VITE_GOOGLE_CLIENT_ID=430984155371-9cgkt3u37sh40bfo0mu82c5f62829o37.apps.googleusercontent.com
VITE_PUBLIC_APP_URL=https://biomicshub.com
VITE_ANDROID_APP_URL=https://play.google.com/store/apps/details?id=com.biomicshub.app
